@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

#centerDiv {
    padding: 3px 5px 3px 5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 50%;
    top: 25%;
    margin: 0 auto;
    position: relative;

    color: #aaaaaa;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}

#centerDiv h1 {
    margin-left: 10px;
    margin-top: 1em;
    color: #fff;
}

#centerDiv div {
    margin-left: 10px;
}

.hud_container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.infoText {
    color: black;
    z-index: 1000;
    text-align: center;
    width: 100%;
    bottom: 100px;
    margin: 0 auto;
    position: absolute;

    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;

    text-shadow: -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, -1px 0px 0px #000, 1px 0px 0px #000,
        -1px 1px 0px #000, 0px 1px 0px #000, 1px 1px 0px #000;

    opacity: 1fwwwww;
}

.highlight-inactivekey {
    color: #aaa;
}

.highlight-actionkey {
    color: #00ff39;
}

.highlight-item {
    color: #00dbff;
}

.highlight-inactive {
    color: #aaa;
}

/* Standard syntax */
@keyframes padding {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

.animate {
    -webkit-animation-name: padding;
    -webkit-animation-duration: 0.8s;
    animation-name: padding;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

/* Standard syntax */
@keyframes fadeout {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 1.5s;
    animation-name: fadeout;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
