body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#Scene_Container {
	position: absolute;
	left: 0px;
	top: 0px;
}

#Blocker_Div {

	position: absolute;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.5);

}

#Instructions_Div {
	width: 100%;
	height: 100%;
	font-family: "Tahoma";
	display: block;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}